data/
tropopauses/
H1_monthly_means/
H1_daily_means/
H1_yearly_means/
H2_daily_means/
H2_monthly_means/
H2_yearly_means/
H2-H1_daily_means/
H2-H1_monthly_means/
H2-H1_yearly_means/
H1_temp_daily_means/
H1_temp_monthly_means/
H1_temp_yearly_means/
H2_temp_daily_means/
H2_temp_monthly_means/
H2_temp_yearly_means/